
.list-group-item{
    border: none;
  }
  .list-group-item:hover{
    background: #213547;
    color: white;
  }
  
  .list-group-item:hover{
    background: #213547;
    color: white;
  }
  
  .list-group-item.active{
    border: none;
    background: #213547!important;
    color: white;
    border: none;
  }
  
  
  
  
  ul.list-group {
    border-radius: 5px;
    border-bottom-right-radius: 22px;
    border-top-left-radius: 22px;
    scroll-behavior: smooth;
  }
  
  
  ::-webkit-scrollbar {
    width: 12px;           
  }
  
  ::-webkit-scrollbar-track { 
    background: transparent;      
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: white;   
    border-radius: 20px;        
    border: 3px solid #213547;  
    margin: 22px!important;
  }
  